<% provide(:title, @category.name) %>
<%= render 'light_section', category: @category%>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'category_selection_field', taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-sm-4 col-xs-12">
              <div class="productBox">
                <%= link_to potepan_product_path(product.id) do %>
                  <div class="productImage clearfix">
                    <% if product.variant_images.blank? %>
                      <%= image_tag("img/products/products-01.jpg", :alt => "products-img") %>
                    <% else %>
                      <%= image_tag(product.variant_images.first.url(:small)) %>
                    <% end %>
                  </div>
                  <div class="productCaption clearfix">
                    <h5><%= product.name %></h5>
                    <h3><%= product.display_price %></h3>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'brand_logos' %>
